@model IList<UserItemViewModel>

<div class="container mt-4">
    <h1 class="text-center mb-5">Admin Panel</h1>
    <table class="table">
        <thead>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
                <th>Username</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in Model)
            {
                <tr>
                    <td>@user.FirstName</td>
                    <td>@user.LastName</td>
                    <td>@user.Email</td>
                    <td>@user.UserName</td>
                    <td>
                        @if (user.LockoutEnd.HasValue && user.LockoutEnd.Value > DateTimeOffset.Now)
                        {
                            <form asp-action="UnblockUser" method="post">
                                <input type="hidden" name="id" value="@user.UserName" />
                                <button type="submit" class="btn btn-success btn-sm">Unblock</button>
                            </form>
                        }
                        else
                        {
                            <form asp-action="BlockUser" method="post">
                                <input type="hidden" name="id" value="@user.UserName" />
                                <button type="submit" class="btn btn-secondary btn-sm px-3">Block</button>
                            </form>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
